<html>
  <head>
    <%= erb :_header %>
  </head>
  <body>
    <h1>新規コメント</h1>
    <form action="/threads/<%= @bbs_thread.id %>/comments" method="post">
      <div>
        <label for="comment_name">お名前</label>
        <input type="text" name="name" id="comment_name">
      </div>
      <div>
        <label for="comment_title">タイトル</label>
        <input type="text" name="title" id="comment_title">
      </div>
      <div>
        <label for="comment_body">なにしてる?</label>
        <input type="text" name="body" id="comment_body">
      </div>
      <input type="submit">
    </form>
  </body>
  <footer>
    <div>
      <a href="/">ホーム</a>
    </div>
  </footer>
</html>
