<html>
  <head>
    <meta chaeset="utf-8">
  </head>
  <body>
    <h1>新規コメント</h1>
    <form action="comment" method="post">
      <div>
        <label for="name">件名</label>
        <input type="text" name="name" id="name">
      </div>
      <div>
        <label for="title">用件</label>
        <input type="text" name="title" id="title">
      </div>
      <div>
        <label for="body">なにしてる?</label>
        <input type="text" name="body" id="body">
      </div>
      <input type="submit">
    </form>
  </body>
  <footer>
    <div>
      <a href="/">ホーム</a>
    </div>
  </footer>
</html>
