<html>
  <head>
    <%= erb :_header %>
  </head>
  <body>
    <h1><%= @bbs_thread.name %>さんの編集画面</h1>
    <form action="/edit/<%= @bbs_thread.id %>" method="post">
      <div>
        <label for="thread_name">お名前</label>
        <input type="text" name="name" id="thread_name">
      </div>
      <div>
        <label for="thread_title">タイトル</label>
        <input type="text" name="title" id="thread_title">
      </div>
      <div>
        <label for="thread_body">なにしてる?</label>
        <input type="text" name="body" id="thread_body">
      </div>
      <input type="submit">
    </form>
  </body>
  <footer>
    <div>
      <a href="/">ホーム</a>
    </div>
  </footer>
</html>
