<html>
  <head>
    <meta charset="utf-8">
  </head>
  <header>
    <div>
      <a href="/thread_new">新規作成</a>
    </div>
  </header>
  <body>
    <h1>けいじばん</h1>
    <table>
     <caption>連絡先一覧</caption>
     <thead>
       <tr>
         <th>ID</th>
         <th>タイトル</th>
         <th>なにしてる?</th>
       </tr>
     </thead>
     <tbody>
       <% @bbs_threads.each do |bbs_thread| %>
         <tr>
           <td><%= bbs_thread.id %></td>
           <td><%= bbs_thread.title %></td>
           <td><%= bbs_thread.body %></td>
         </tr>
       <% end %>
     </tbody>
   </table>
  </body>
</html>
