<html>
  <head>
    <meta chaeset="utf-8">
  </head>
  <body>
    <h1>新しいThread</h1>
    <form action="bbs_threads" method="post">
      <div>
        <label for="thread_title">タイトル</label>
        <input type="text" name="title" id="thread_title">
      </div>
      <div>
        <label for="thread_body">なにしてる?</label>
        <input type="text" name="body" id="thread_body">
      </div>
      <input type="submit">
  </body>
</html>
